<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1 class="tientai">tientai, NTT</h1>
    <div>
    <img src="/images/cho.jpg" alt="cho"></div>
  </body>
</html>
